@import 'src/styles/common.scss';

.setting_wrap {
  @include flex_middle;
  margin-top: 30px;
  .setting {
    width: 100%;
    max-width: 1200px;
    h2 {
      margin: 0 100px;
      @include mobile {
        margin: 0 20px;
      }
    }
    .setting_form {
      margin: 0 100px;
      @include mobile {
        margin: 0 20px;
      }
      h3 {
        padding-bottom: 10px;
        border-bottom: 2px solid $br;
      }
      .setting_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .setting_btn {
          @include flex_middle;
          width: 50px;
          height: 30px;
          background-color: $pt;
          color: $bg;
          font-size: 14px;
          padding: 4px 0;
          border: 0;
          margin-bottom: 5px;
          &:hover {
            cursor: pointer;
          }
          p {
            margin: 0;
          }
        }
        .setting_input {
          height: 30px;
          font-size: 14px;
          border: 1px solid $br;
          background-color: $bg;
        }
        table{
          width: 100%;
          margin-bottom: 10px;
          tbody{
            th, td {
              height: 30px;  
            }
            th {
              text-align: left;
            }
          }
        }
      }
    }
  }
}