@import "../libs";

.navbar_wrap {
  @include flex_middle;
  border-bottom: 2px solid $br;
  background-color: $bg;
  .navbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    .logo {
      font-size: 25px;
      font-weight: bolder;
      text-decoration: none;
      color: $bg;
      background-color: $pt;
      padding: 10px 20px;
      margin: 0;
    }
    .login {
      display: flex;
      align-items: center;
      vertical-align: middle;
      margin: auto 20px;
      position: relative;
      color: $dg;
      width: 100%;
      .divider {
        margin: 0 8px;
      }
      a {
        text-decoration: none;
        color: $dg;
      }
      .login_user {
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
        img {
          margin-left: 5px;
          height: 0.5em;
        }
      }
      .menu {
        background-color: $bg;
        border: 2px solid $br;
        display: block;
        position: absolute;
        top: 40px;
        right: 0;
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0 20px;
          li {
            text-align: right;
            margin-bottom: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .logout {
      display: flex;
      align-items: center;
      width: 100%;
      margin: auto 20px;
      a {
        text-decoration: none;
        color: $dg;
      }
    }
    ul {
      display: flex;
      li {
        list-style: none;
      }
      .divider {
        margin: 3px 9px;
        border-right: solid 1px $dg;
      }
    }
  }
}