#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid #F2F2F2;
  background-color: #FEFEFE;
}

#navbar > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 85%;
}

#navbar > div > a {
  text-decoration: none;
  color: inherit;
}

#logo {
  width: fit-content;
  font-size: 23px;
  font-weight: bolder;
  color: white;
  background-color: #8AAAE5;
  padding: 10px 20px;
  margin: 0;
}

#login {
  vertical-align: middle;
  margin: auto 0;
}