#loginForm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

#loginForm > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  padding: 30px 50px;
  align-items: center;
  background-color: #FEFEFE;
  border: 2px solid #F2F2F2;
}

#loginForm > div > h3 {
  margin-top: 0px;
  margin-bottom: 30px;
}

#loginForm > div > input {
  width: 100%;
  max-width: 200px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #F2F2F2;
  margin-bottom: 6px;
  padding: 3px 10px;
}

#loginState {
  color: red;
  font-size: 12px;
}

#loginBtn {
  width: 100%;
  max-width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8AAAE5;
  color: #f2f2f2;
  font-size: 14px;
  padding: 3px 10px;
  border: 0;
}

#loginBtn:hover {
  cursor: pointer;
}

#loginBtn > p {
  margin: 0;
}